body{
    background-color: grey;
<<<<<<< HEAD

}

=======
}
>>>>>>> 726cc268fe710ba768ab3ba14cabb2b74276f4f6
.card-container{
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
