.movies{
    margin-top: 120px;
    padding: 0 10px;
}

.filas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.columnas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

button.centrado {
    width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    padding: 15px;
    width: 170px;

  }
.centrado:hover {
    background-color: #008CBA;
    color: white;
}
.noresults{
    width: 70%;
    margin: 0 auto;
    padding: 0 10px;
    background-color: white;
    height: 200px;
    border: 2px solid rgb(206, 206, 206);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.noresultsP{
    text-align: center;
    color: black;
    text-decoration: underline;
    size: 20px;
    width: 60%;
    font-size: xx-large;
    margin-top: auto;
}