.movies{
    margin-top: 120px;
    padding: 0 10px;
}

.filas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.columnas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

button.centrado {
    width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    padding: 15px;
    width: 170px;

  }
.centrado:hover {
    background-color: #008CBA;
    color: white;
}
.fas{
    color:white
}